extends ../layout

block content
  .page-header
    h2
      i.fa.fa-facebook-square(style='color: #335397')
      | Facebook API
  h3
    i.fa.fa-user
    |  My Profile
  img.thumbnail(src='https://graph.facebook.com/#{me.id}/picture?type=large', width='90', height='90')
  h4= me.name
  h6 First Name: #{me.first_name}
  h6 Last Name: #{me.last_name}
  h6 Gender: #{me.gender}
  h6 Username: #{me.username}
  h6 Link: #{me.link}
  h6 Email: #{me.email}
  h6 Friends Summary: #{friends.summary}
  h6 First Post: #{onePost[0].story}
  h6 Post: #{posts[0][0].story}
  - var n = 0
  h3
    i.fa.fa-group
    |  My Friends
  .row
    for friend in friends
      .col-xs-3.col-md-2
        a.thumbnail(href='http://facebook.com/#{friend.id}')
          img(src='https://graph.facebook.com/#{friend.id}/picture?width=150&height=150')
